<div layout="row" layout-margin>
  <md-content flex>
      <!-- Barre de titre  -->
       <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
           <div class="md-toolbar-tools">
               <h3>Annonces</h3>
            </div>
        </md-toolbar>
        
        <!-- Liste des annonces ajoutées -->
          <md-list flex>
            <md-subheader class="md-no-sticky">Annonces récentes</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
              <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
              <div class="md-list-item-text" layout="column">
                <h3>{{ item.who }}</h3>
                <h4>{{ item.what }}</h4>
                <p>{{ item.notes }}</p>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
          </md-list>
        
        <!-- Bouton ajouter une annocne -->
        <div class="lock-size" layout="row" layout-align="end end">
            <md-button class="md-fab" md-direction="right" aria-label="Ajouter annonce" ng-click="ajouterAnnonce()">
              <md-icon md-svg-icon="../images/ic_add_white_24px.svg"></md-icon>
            </md-button>
        </div>
    </md-content>
</div>


