<div layout="row" layout-margin>
  <md-content flex>
      <!-- Barre de titre  -->
       <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
           <div class="md-toolbar-tools">
               <h3>Annonces</h3>
            </div>
        </md-toolbar>
        
        <!-- Liste des annonces ajoutées -->
          <md-list flex onload="listAnnonces()">
            <md-subheader class="md-no-sticky">Annonces récentes</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="annonce in annonces track by $index" ng-click="null">
              <img ng-src="../images/avatar.png" class="md-avatar"/>
              <div class="md-list-item-text" layout="column">
                <h3>{{annonce.proprietaire.prenom}} {{annonce.proprietaire.nom}}</h3>
                <h4>{{annonce.villeDepart}}</h4>
                <p>{{annonce.villeArrivee}}</p>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
          </md-list>
        
        <!-- Bouton ajouter une annocne -->
        <md-button class="md-fab md-fab-bottom-right" style="position:fixed;" aria-label="Ajouter annonce" ng-click="formulaireAnnonce()">
          <md-icon md-svg-icon="../images/ic_add_white_24px.svg"></md-icon>
          <md-tooltip md-direction ="left">
              Ajouter une annonce
            </md-tooltip>
        </md-button>
    </md-content>
</div>


